<h3 class="subtitle">PETS
    <a class="subtitle__link" [routerLink]="searchPetByIDPath">
        <mat-icon title="Add new PET" class="subtitle__link__icon">add_circle</mat-icon>

    </a>
    <a class="subtitle__link" [routerLink]="createPEtPath">
        <mat-icon title="Search PET by ID" class="subtitle__link__icon">search</mat-icon>
    </a>
</h3>
<div class="contentTabs">
    <button class="contentTabs__option" 
    [ngClass]="{'active' : (petStatus =='available')}" 
    (click)="getPets('available')">
    Available
    </button>

    <button class="contentTabs__option" 
    (click)="getPets('pending')"
    [ngClass]="{'active' : (petStatus =='pending')}">
    Pending
    </button>

    <button class="contentTabs__option" 
    [ngClass]="{'active' : (petStatus =='sold')}" 
    (click)="getPets('sold')">
    Sold
    </button>
</div>

 
<ul class="petList">
    <li class="petList__element" *ngFor="let pet of pets">
        <img class="petList__element__img" [src]="pet.photoUrls[0]" noImgAvailable>
        <h4 class="petList__element__title">{{pet.name? pet.name : '-no name-'}}</h4>
    </li>
</ul>


  

